{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/myapp.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>


    {% block content %}
    {% endblock %}

     <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; {% now "Y" %} My Site. All rights reserved.</p>
            <ul class="footer-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </footer>



</body>
</html>
